*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
}


body{  
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
}



.gore{                  /* HEADER i HERO ZAJEDNO */
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 20vh; 
    gap: 8vh;
}

.header{                /* HEADER*/
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.header img{
    border-radius: 20px;
    width: 150px; 
    height: auto;
}


.lala li{               /* LINKOVI U HEADERU*/
    padding:0px 10px;
    display: inline;
    list-style-type: none;
}
a{                       /* LINKOVI U HEADERU*/
    text-decoration: none;
    font-size: 20px;
    color: #c5c5c7;
}




.hero {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;       
    align-items: stretch;  
}

.hero > div {            /* PODJEDNAKA PODJELA HERO CONTAINERA LIJVO I DESNO*/
    flex: 1;
}


.hero-right{         /* HERO POZICIONIRANJE SLIKE*/
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-right img {    /* HERO SLIKA*/
width: 400px;
border: 5px solid #fff;
border-radius: 5px;
}






.hero-left{                             /* HERO LIJEVI CONTAINER */
display: flex;
flex-direction: column;
justify-content:center;
gap: 10px;
text-align: center;
}

.hero-naslov, .info h3{                         /* HERO NASLOV*/
    font-size: 36px;
    font-weight: 900;
    color: #F9Faf8;
}
.hero-text{                          /* HERO TEKST LIJEVO*/
    line-height: 1.5;
    font-size: 19px;
    color: #c5c5c7;
}


.kontakt {                                    /* BUTTON KONTAKT */
    align-self: center;
  background-color: #111827;
  border: 1px solid white;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
}

.kontakt:hover {
  background-color: #374151;
}

.kontakt:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
} 








.info{
    display: flex;
    flex-direction: column;
}
.info h3{
    margin: 30px 0px;
    text-align: center;
    font-weight: 900;
    color: #111827;
}

.kartice{
    padding: 0 10vw;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap; 
    align-items: baseline;
    justify-content: space-around;
    gap: 20px;
    font-size: 20px;
}

.card{
    width: 220px; 
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.card img{
    align-self: center;
    width: 220px;
    height:220px;
    border: 5px solid #111827;
    border-radius: 3px;
}


/* 
.testimonial{
    background-color: brown;
      display: flex;
    justify-content: flex end;
}

.cta{
      display: flex;
    justify-content: flex end;
    background-color: burlywood;
}

.footer{
    
    display: flex;
    justify-content: flex-end;
    background-color: #1F2937;
} */ 