*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
}


body{  
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
}



.gore{                  /* HEADER i HERO ZAJEDNO */
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 20vh; 
    gap: 8vh;
}

.header{                /* HEADER*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
}
.header img{
    border-radius: 20px;
    width: 150px; 
    height: auto;
}


.lala li{               /* LINKOVI U HEADERU*/
    padding:0px 10px;
    display: inline;
    list-style-type: none;
}
a{                       /* LINKOVI U HEADERU*/
    text-decoration: none;
    font-size: 20px;
    color: #c5c5c7;
}




.hero {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;       
    align-items: stretch; 
    padding-bottom: 35px; 
}

.hero > div {            /* PODJEDNAKA PODJELA HERO CONTAINERA LIJVO I DESNO*/
    flex: 1;
}


.hero-right{         /* HERO POZICIONIRANJE SLIKE*/
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-right img {    /* HERO SLIKA*/
width: 400px;
border: 5px solid #fff;
border-radius: 5px;
}






.hero-left{                             /* HERO LIJEVI CONTAINER */
display: flex;
flex-direction: column;
justify-content:center;
gap: 10px;
text-align: center;
}

.hero-naslov, .info h3{                         /* HERO NASLOV*/
    font-size: 36px;
    font-weight: 900;
    color: #F9Faf8;
}
.hero-text{                          /* HERO TEKST LIJEVO*/
    line-height: 1.5;
    font-size: 19px;
    color: #c5c5c7;
}


.kontakt {                                    /* BUTTON KONTAKT */
    align-self: center;
  background-color: #111827;
  border: 1px solid white;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
}

.kontakt:hover {
  background-color: #374151;
}

.kontakt:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
} 








.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
.info h3{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 900;
    color: #111827;
    text-decoration: underline  #111827;
    text-underline-position: under
}

.kartice{
    padding: 0 10vw;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap; 
    align-items: baseline;
    justify-content: space-around;
    gap: 20px;
    font-size: 20px;
}

.card{
    width: 250px; 
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.card img{
    align-self: center;
    width: 250px;
    height:270px;
    border: 7px solid #111827;
    border-radius: 5px;
}


.obrazovanje{
    margin-bottom: 100px;
    padding: 0 10vw;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.obrazovanje div {
    flex:1;
}

.obrazovanje img{
width: auto;
border: 5px solid #1F2937;
border-radius: 5px;
}

.obrazovanje h3{
    text-align: start;
    font-weight: 900;
    color: #111827;
    text-decoration: underline solid #1F2937;
    text-underline-position: below;
    font-size: 32px;
    margin-bottom: 40px;
}

.obrazovanje li{
line-height: 1.5;
list-style-type: none;
text-align: start;
font-size: 25px;
margin-bottom: 10px;
}








.testimonial {   /*TESTIMONIAL */
    margin-bottom: 100px;
    width: 500px;
	max-width: 100%;
	background:#6b7486;
	padding: 4em 3em;
	display: flex;
	align-items: flex-end;
    align-self: center;
	box-shadow: 0 2px 2px hsl(0deg 0% 0%/.075), 0 3px 3px hsl(0deg 0% 0%/.075), 0 5px 5px hsl(0deg 0% 0%/.075), 0 9px 9px hsl(0deg 0% 0%/.075), 0 17px 17px hsl(0deg 0% 0%/.075);
	position: relative;
	&:after {
		content: "";
		border: 8px solid #1F2937;
		border-radius: 50px;
		width: 85%;
		height: 120%;
		position: absolute;
		z-index: -1;
		left: 1.5em;
		top: -2em;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: -6.2em;
		left: 5em;
		z-index: 1;		
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 70px 100px 0 0;
		border-color: #1F2937 transparent transparent transparent;
	}
	.quote {
		position: absolute;
		font-size: 3em;
		width: 40px;
		height: 40px;
		background: #1F2937;
		color: #fff;
		text-align: center;
		line-height: 1.25;
		&.open {
			top: 0;
			left: 0;
		}
		&.close {
			bottom: 0;
			right: 0;
		}
	}
	p {
		width: 60%;
		display: inline-block;
		font-weight: bold;
		font-size: 1.25em;
	}
	.source {
		width: 40%;
		height: 100%;
		position: relative;		
		span {			
			display: inline-block;
			font-weight: bold;
			font-size: 1.15em;
			position: relative;
			margin-left: 1rem;
			text-align: right;			
			&:before {
				content: "\2014";
				display: inline;
				margin-right: 5px;
			}
		}		
	}
	.image {
		transform: rotate(-5deg);
		position: absolute;
		top: 0.5em;
		right: 1.5em;
		img {
			border: 10px solid #fff;
			margin: 0;
			padding: 0;
			height:100px;
			width:100px;
		}
		.clip {
			border: 2px solid #222;
			border-right: none;
			height: 75px;
			width: 20px;
			position: absolute;
			right: 30%;
			top: -15%;
			border-radius: 25px;
			&:before {
				content: "";
				position: absolute;
				top: -1px;
				right: 0;
				height: 10px;
				width: 16px;
				border: 2px solid #222;
				border-bottom: none;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				z-index: 99;					
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -1px;
				right: 0;
				height: 40px;
				width: 16px;
				border: 2px solid #222;
				border-top: none;
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
				z-index: 99;
			}
		}
	}
}



.kraj{
    display: flex;
    flex-wrap: wrap;       
    padding: 35px; 
    gap: 150px;
    justify-content: center;

}

.cta{
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
}
.cta img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.kraj .kontakt{
    width: 300px;
	font-weight: bold;
	font-size: 1.25em;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    height: 60px;
    align-items: center;
    color: #c5c5c7;
    font-weight: 300;
} 